<h1>Aplicacion de Heroes</h1>

<!--<app-error-page></app-error-page>-->

<!--<div class="contenedor-menu">
    <ul>-->
        <!--<li><a href="https://docs.emmet.io/cheat-sheet">Login</a></li>
        <li><a href="/docs.emmet.io/cheat-sheet">Login</a></li>-->
        <!--<li><a routerLink="/auth/login">Login</a></li>
        <li><a routerLink="/auth/registro">Register</a></li>
        <li><a href="/heroes/listado">Listado</a></li>
        <li><a href="/heroes/editar/14123413">editar/08323</a></li>
    </ul>
</div>-->
<router-outlet></router-outlet>

<p>Footer</p>
