<!--<h1>HeroesApp</h1>
<hr>

<div class="contenedor-menu">
    <ul>
        <li><a routerLink="/heroes/agregar">Agregar</a></li>
        <li><a routerLink="/heroes/buscar">buscar</a></li>
        <li><a href="/heroes/listado">Listado</a></li>
        <li><a href="/heroes/editar/14123413">editar/08323</a></li>
    </ul>
</div>

<div class="heroes-component">
    <router-outlet></router-outlet>
</div>-->

<!--<mat-tab-group mat-align-tabs="start">-->
  <!--<mat-tab label="First">Content 1</mat-tab>-->
  <!--<mat-tab label="First"><app-content-one></app-content-one>
  </mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</tab-tab-group>-->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
       <span>Menu</span>
       <button mat-button (click)="sidenav.toggle()">
         <mat-icon>menu</mat-icon>
       </button>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu_book</mat-icon>
    </button>
  </mat-toolbar>
</mat-sidenav-container>